/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} 

/* Global Styles */
html {
  font-family: "Montserrat", sans-serif;
  height: 90%; /* Set height to 100% */
}

body {
  background: #b65beb;
  padding: 20px; /* Increased padding for better spacing */
  margin: 0%;
  display: block;
  position: relative;
  flex-direction: column; /* Arrange children in a column */
  min-height: 100%; /* Set min-height to 100% */
}

/* Header Styles */
header {
  background-color: #0b0c0d;
  width: 100%;
  margin-top: 0%;
  margin-left: 0%;
  padding: 20px 32px; /* Increased padding for better spacing */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adjusted box-shadow */
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

/* Footer Styles */
footer {
  text-align: center;
  position: fixed; /* Fixed position */
  bottom: 0; /* Align to the bottom of the viewport */
  width: 100%; /* Set width to 100% */
  padding: 10px 0; /* Adjusted padding */
  background-color: #0a0c0c; /* Set background color */
}
footer p {
  color: #fff;
}

/* Note Styles */
.note {
  background: #f9f9f6;
  border-radius: 7px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adjusted box-shadow */
  padding: 20px; /* Increased padding for better spacing */
  width: 300px; /* Increased width for better readability */
  margin: 20px auto; /* Center notes */
}

.note h1 {
  font-size: 1.2em; /* Increased font size for better readability */
  margin-bottom: 10px; /* Adjusted margin for better spacing */
}

.note p {
  font-size: 1em; /* Adjusted font size for better readability */
  margin-bottom: 15px; /* Adjusted margin for better spacing */
}

.note button {
  color: #243e57;
  background-color: transparent;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  transition: color 0.3s ease; /* Added transition for smoother hover effect */
}

.note button:hover {
  color: #631010; /* Adjusted color on hover for better contrast */
}

/* Form Styles */
form {
  width: 400px; /* Adjusted width for better fit */
  margin: 20px auto; /* Centered form */
  background: #fff;
  padding: 20px; /* Increased padding for better spacing */
  border-radius: 7px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Adjusted box-shadow */
}

form input,
form textarea {
  width: 100%;
  border: none;
  padding: 10px; /* Increased padding for better spacing */
  margin-bottom: 15px; /* Adjusted margin for better spacing */
  outline: none;
  font-size: 1em; /* Adjusted font size for better readability */
  font-family: inherit;
  resize: none;
}

form button {
  background: #2a156a;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease; /* Added transition for smoother hover effect */
}

form button:hover {
  background: #c50f0f; /* Adjusted background color on hover for better contrast */
}
